{include file="Common/head.html"}
<link href="{$SERVER.HOST.CSS_SERVER}View/Beyond/Assets/css/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Page Header -->
    <div class="page-header position-relative page-header-fixed">
        <div class="header-title">
            <h1>
                专题管理 <!-- <small><i class="fa fa-angle-right"></i> 管理 </small> -->
            </h1>
        </div>
        <!--Header Buttons-->
        <div class="header-buttons">
            <a class="sidebar-toggler" href="#">
                <i class="fa fa-arrows-h"></i>
            </a>
            <a class="refresh" id="refresh-toggler" href="#">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>
            <a class="fullscreen" id="fullscreen-toggler" href="#">
                <i class="glyphicon glyphicon-fullscreen"></i>
            </a>
        </div>
        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->

    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <h5 class="row-title before-warning"><i class="glyphicon glyphicon-plane warning"></i>专题-{$topicmapinfo.title}</h5>
                <div class="oplinks">
                    <a href="{$ANY.__APP__}?s=Topic/topicitem&topicid={$topicid}" class="btn btn-sky">管理专题点</a>
                    <a href="{$ANY.__APP__}?s=Topic/newtopicitem&topicid={$topicid}" class="btn btn-darkorange">新增专题点</a>
                </div>
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-warning">
                        <span class="widget-caption">查询专题点信息表单</span>
                    </div>
                    <div class="widget-body">
                        <div id="horizontal-form">
                            <form name="mtserverform" method="post" action="{$ANY.__APP__}?s=Topic/topicitem" class="form-horizontal" role="form">
                                <input type="hidden" name="topicid" value="{$topicid}">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">关键字</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="keywords" value="{$keywords}" placeholder="名称、地址 关键字">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-warning">查询</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header bg-sky">
                        <span class="widget-caption">专题点信息列表</span>
                        <div class="widget-buttons">
                            <a href="#" data-toggle="collapse">
                                <i class="fa fa-minus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body no-padding">
                        <div class="dataTables_wrapper form-inline">
                            <table class="table table-bordered table-hover table-striped dataTable">
                                <thead class="bordered-darkorange">
                                    <tr role="row">
                                        <th></th>
                                        {foreach $topicmapinfo.fields as $field}
                                        {if $field.show}<th>{$field.name}</th>{/if}
                                        {/foreach}
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {if isset($datalist)&&is_array($datalist)&&!empty($datalist)}
                                    {foreach $datalist as $data}
                                    <tr role="row" class="even">
                                        <td>{$data.itemid}</td>
                                        {foreach $topicmapinfo.fields as $field}
                                        {if $field.show}<td>{$data[$field.field]}</td>{/if}
                                        {/foreach}
                                        <td>
                                            <a href="{$ANY.__APP__}?s=Topic/uptopicitem&topicid={$topicid}&itemid={$data.itemid}" class="btn btn-sky">编辑</a>
                                        </td>
                                    </tr>
                                    {/foreach}
                                    {/if}
                                </tbody>
                            </table>
                            <div class="row DTTTFooter">
                                <div class="col-xs-4"></div>
                                <div class="col-xs-8">
                                    {include file="Public/pagination.html"}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{include file="Common/foot.html"}