{include file="Common/head.html"}
    <!-- Page Header -->
    <div class="page-header position-relative page-header-fixed">
        <div class="header-title">
            <h1>
                专题管理 <!-- <small><i class="fa fa-angle-right"></i> 管理 </small> -->
            </h1>
        </div>
        <!--Header Buttons-->
        <div class="header-buttons">
            <a class="sidebar-toggler" href="#">
                <i class="fa fa-arrows-h"></i>
            </a>
            <a class="refresh" id="refresh-toggler" href="#">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>
            <a class="fullscreen" id="fullscreen-toggler" href="#">
                <i class="glyphicon glyphicon-fullscreen"></i>
            </a>
        </div>
        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->

    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <h5 class="row-title before-sky"><i class="glyphicon glyphicon-plane sky"></i>编辑专题信息</h5>
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-sky">
                        <span class="widget-caption">专题信息表单</span>
                    </div>
                    <div class="widget-body">
                        <div id="horizontal-form">
                            <form name="ajaxform" method="post" action="{$ANY.__APP__}?s=Topic/uptopicsave" class="form-horizontal" role="form">
                                <input type="hidden" name="topicid" value="{$topicinfo.topicid}">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">名称</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="title" value="{$topicinfo.title}" placeholder="专题名称">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">图片</label>
                                    <div class="col-sm-10">
                                        {if $topicinfo.pic}<p><img src="{$SERVER.HOST.HTTP_HOST}{$topicinfo.pic}" class="img-responsive"></p>{/if}
                                        <input type="hidden" name="pic" value="{$topicinfo.pic}">
                                        <input id="picfile" type="file" name="picfile" placeholder="图片" class="file-loading">
                                        <p class="help-block">*大小:200K以下</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">作者</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="author" value="{$topicinfo.author}" placeholder="专题作者 例：衢州测绘院">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">描述</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="5" name="desc" placeholder="专题描述">{$topicinfo.desc}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-sky">保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<link href="{$SERVER.HOST.JS_SERVER}View/Beyond/Assets/plugins/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
<script src="{$SERVER.HOST.JS_SERVER}View/Beyond/Assets/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="{$SERVER.HOST.JS_SERVER}View/Beyond/Assets/plugins/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>
<script src="{$SERVER.HOST.JS_SERVER}View/Beyond/Assets/js/class/bootstrap-fileinput.class.js"></script>
<script>
$(function (){
    var BootstrapFileInputClassObj = new BootstrapFileInputClass();
    //课程示例图
    BootstrapFileInputClassObj.Init("pic", JS_APP+"?s=Topic/picupload");
})
</script>
{include file="Common/foot.html"}