{include file="Common/head.html"}
    <script type="text/javascript" src="http://www.zjditu.cn/API/MapALine.js?v=5.2&key=95a29452a6e8c908932646f812919857"></script>

    <!-- Page Header -->
    <div class="page-header position-relative page-header-fixed">
        <div class="header-title">
            <h1>
                专题管理 <!-- <small><i class="fa fa-angle-right"></i> 管理 </small> -->
            </h1>
        </div>
        <!--Header Buttons-->
        <div class="header-buttons">
            <a class="sidebar-toggler" href="#">
                <i class="fa fa-arrows-h"></i>
            </a>
            <a class="refresh" id="refresh-toggler" href="#">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>
            <a class="fullscreen" id="fullscreen-toggler" href="#">
                <i class="glyphicon glyphicon-fullscreen"></i>
            </a>
        </div>
        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->

    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <h5 class="row-title before-sky"><i class="glyphicon glyphicon-plane sky"></i>专题-{$topicmapinfo.title}-编辑</h5>
                <div class="oplinks">
                    <a href="{$ANY.__APP__}?s=Topic/topicitem&topicid={$topicid}" class="btn btn-sky">管理专题点</a>
                    <a href="{$ANY.__APP__}?s=Topic/newtopicitem&topicid={$topicid}" class="btn btn-darkorange">新增专题点</a>
                    <a href="{$ANY.__APP__}?s=Topic/importtopicitem&topicid={$topicid}" class="btn btn-success">导入专题点</a>
                </div>
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-sky">
                        <span class="widget-caption">专题点信息表单</span>
                    </div>
                    <div class="widget-body">
                        <div id="horizontal-form">
                            <form name="ajaxform" method="post" action="{$ANY.__APP__}?s=Topic/uptopicitemsave" class="form-horizontal" role="form">
                                <input type="hidden" name="topicid" value="{$topicid}">
                                <input type="hidden" name="itemid" value="{$topiciteminfo.itemid}">
                                {foreach $topicmapinfo.fields as $field}
                                {if $field.inup}
                                {if $field.vartype=="text"}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">{$field.name}</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" name="{$field.field}" placeholder="{$field.name}" rows="5">{$topiciteminfo[$field.field]}</textarea>
                                        {if $field.need}<span class="danger">*必填</span>{/if}
                                    </div>
                                </div>
                                {else}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">{$field.name}</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="{$field.field}" value="{$topiciteminfo[$field.field]}" placeholder="{$field.name}">
                                        {if $field.need}<span class="danger">*必填</span>{/if}
                                    </div>
                                </div>
                                {/if}
                                {/if}
                                {/foreach}
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-sky">保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div style="display: block">
                    <input type="button" id="btnAddPoint" value="添加图钉" />
                    <input type="button" id="btnCleanPoint" value="清除图钉" />
                </div>
                <div id="tdtu"></div>
            </div>
        </div>
    </div>

<style type="text/css">
#tdtu {
    position: absolute;
    overflow: hidden;
    width: 95%;
    height: 630px;
    margin: 0 auto;
    margin-bottom: 20px;
}
</style>
<script src="{$SERVER.HOST.JS_SERVER}View/Beyond/Assets/js/class/tdtu.class.js"></script>
<script type="text/javascript">
$(function (){
    $(window).load(function() {
        new TDTuClass({
            x: {$point_x},
            y: {$point_y}
        });
    })
})
</script>
{include file="Common/foot.html"}