{include file="Common/head.html"}
    <!-- Page Header -->
    <div class="page-header position-relative page-header-fixed">
        <div class="header-title">
            <h1>
                系统设置 <!-- <small><i class="fa fa-angle-right"></i> 管理 </small> -->
            </h1>
        </div>
        <!--Header Buttons-->
        <div class="header-buttons">
            <a class="sidebar-toggler" href="#">
                <i class="fa fa-arrows-h"></i>
            </a>
            <a class="refresh" id="refresh-toggler" href="#">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>
            <a class="fullscreen" id="fullscreen-toggler" href="#">
                <i class="glyphicon glyphicon-fullscreen"></i>
            </a>
        </div>
        <!--Header Buttons End-->
    </div>
    <!-- /Page Header -->

    <!-- Page Body -->
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <h5 class="row-title before-sky"><i class="glyphicon glyphicon-plane sky"></i>新增离线地图版本</h5>
                <div class="widget">
                    <div class="widget-header bordered-bottom bordered-sky">
                        <span class="widget-caption">离线地图信息表单</span>
                    </div>
                    <div class="widget-body">
                        <div id="horizontal-form">
                            <form name="userform" method="post" action="{$ANY.__APP__}?s=Map/newofflinesave" class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">标题</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="title" placeholder="标题 例：衢州市离线地图包">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">版本号</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="version" placeholder="版本号 例：v1.0.1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">离线地图包</label>
                                    <div class="col-sm-10">
                                        <input type="hidden" name="path" value="">
                                        <input id="pathfile" type="file" name="pathfile" placeholder="离线地图包" class="file-loading">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">地图包远程地址</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="httppath" placeholder="地图包远程地址 http://xxx...">
                                        <p class="help-block danger">*默认空 如果用FTP方式上传离线地图包到服务器 请填写该地址 以http://开始的完整路径</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label no-padding-right">大小(byte)</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="size" placeholder="离线地图包大小 单位byte 例：194139000">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-sky">保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<link href="{$SERVER.HOST.JS_SERVER}View/Beyond/Assets/plugins/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
<script src="{$SERVER.HOST.JS_SERVER}View/Beyond/Assets/plugins/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="{$SERVER.HOST.JS_SERVER}View/Beyond/Assets/plugins/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>
<script src="{$SERVER.HOST.JS_SERVER}View/Beyond/Assets/js/class/bootstrap-fileinput.class.js"></script>
<script>
$(function (){
    var BootstrapFileInputClassObj = new BootstrapFileInputClass();
    //课程示例图
    BootstrapFileInputClassObj.Init("path", JS_APP+"?s=User/mapupload");

    //用户Form提交
    $("form[name=userform]").submit(function (){
        var url = $(this).attr('action');
        var postdata = $(this).serialize();
        $.post(url, postdata, function (data){
            ajaxCallback(data);
        }, 'json');
        return false;
    });
})
</script>
{include file="Common/foot.html"}